#postLayout {
  /* padding: 12px; */
  border-bottom: 1px solid black;
}
#postName {
  font-weight: bold;
  padding: 2px 10px;
}
#postBody {
  padding: 0px 10px;
}
button {
  border: none;
  background-color: white;

  position: relative;
  bottom: 10px;
  left: 85%;
}
